In [145]:
from gurobipy import GRB
import gurobipy as gb
import pandas as pd
import numpy as np

In [146]:
# Create the optimization model
question_2_model = gb.Model("Question 2: Canadian Womens National Team Selection")

In [147]:
player_value_df = pd.read_csv(r"C:\Users\gabri\Downloads\BasketballPlayers.csv")

In [148]:
player_value_df

,Number,Position,Ball Handling,Shooting,Rebounding,Defense,Athletic Ability,Toughness,Mental Acuity
0,1,G/F,1,2,3,2,1,2,1
1,2,G/F,1,1,1,2,3,2,3
2,3,G/F,3,1,1,2,3,2,1
3,4,G/F,2,3,2,2,2,1,1
4,5,F/C,1,2,3,3,3,3,2
...,...,...,...,...,...,...,...,...,...
145,146,F/C,2,2,3,1,1,3,3
146,147,G/F,2,3,2,3,2,2,2
147,148,G/F,3,1,2,3,2,3,3
148,149,F/C,1,2,3,1,1,2,2
149,150,F/C,1,3,2,1,3,2,3

In [149]:
x = question_2_model.addVars(150, lb=0, vtype=GRB.BINARY, name="Players")

In [150]:
final_seven_columns = player_value_df.iloc[:, -7:]
final_seven_columns

,Ball Handling,Shooting,Rebounding,Defense,Athletic Ability,Toughness,Mental Acuity
0,1,2,3,2,1,2,1
1,1,1,1,2,3,2,3
2,3,1,1,2,3,2,1
3,2,3,2,2,2,1,1
4,1,2,3,3,3,3,2
...,...,...,...,...,...,...,...
145,2,2,3,1,1,3,3
146,2,3,2,3,2,2,2
147,3,1,2,3,2,3,3
148,1,2,3,1,1,2,2
149,1,3,2,1,3,2,3

In [151]:
average_per_row = final_seven_columns.mean(axis=1)
total_per_row = final_seven_columns.sum(axis=1)

In [152]:
print(average_per_row)

0      1.714286
1      1.857143
2      1.857143
3      1.857143
4      2.428571
         ...
145    2.142857
146    2.285714
147    2.428571
148    1.714286
149    2.142857
Length: 150, dtype: float64

In [153]:
print(total_per_row)

0      12
1      13
2      13
3      13
4      17
       ..
145    15
146    16
147    17
148    12
149    15
Length: 150, dtype: int64

In [154]:
objective_function = gb.quicksum(total_per_row[i]*x[i] for i in range(150))
question_2_model.setObjective(objective_function, GRB.MAXIMIZE)

In [155]:
player_number = 21

Needed Correcting

In [156]:
# Add the constraints
#question_2_model.addConstr(gb.quicksum(x[i] for i in range(150)) <= player_number, "Team Limit Constraint")
question_2_model.addConstr(gb.quicksum(x[i] for i in range(150)) == player_number, "Team Limit Constraint")

In [157]:
player_positions = player_value_df['Position'].values
player_positions

array(['G/F', 'G/F', 'G/F', 'G/F', 'F/C', 'G', 'F/C', 'F/C', 'G', 'G/F',
       'F', 'F/C', 'G/F', 'F', 'G', 'G', 'G', 'F/C', 'F/C', 'G/F', 'F',
       'F/C', 'G', 'F', 'G', 'G', 'G', 'F', 'G', 'G/F', 'G', 'F', 'F',
       'F/C', 'F', 'F/C', 'G/F', 'F/C', 'F', 'G', 'F', 'F', 'G', 'F',
       'F/C', 'F', 'G/F', 'F/C', 'G', 'G/F', 'F', 'G/F', 'F', 'F', 'F',
       'F/C', 'F', 'F', 'F/C', 'G', 'F/C', 'F', 'F', 'G', 'F', 'F', 'G',
       'F', 'G', 'F', 'F', 'F', 'G', 'F/C', 'G/F', 'F', 'F', 'G', 'F',
       'G', 'G/F', 'G/F', 'F/C', 'F', 'G/F', 'G/F', 'G', 'G/F', 'G/F',
       'F', 'G/F', 'G/F', 'F', 'G', 'G/F', 'G/F', 'F', 'F/C', 'G/F',
       'G/F', 'F/C', 'G', 'F', 'G', 'F/C', 'F', 'G', 'F/C', 'G', 'G', 'F',
       'G', 'F/C', 'F/C', 'G', 'F/C', 'F/C', 'G/F', 'G', 'G', 'F', 'F',
       'G', 'F', 'F/C', 'F/C', 'F', 'G/F', 'G', 'F', 'F', 'G/F', 'F',
       'F/C', 'G', 'F/C', 'F', 'G', 'F/C', 'F', 'G', 'F', 'G', 'F', 'F',
       'F/C', 'G/F', 'G/F', 'F/C', 'F/C'], dtype=object)

In [158]:
guard_indices = []
for pos in player_positions:
    if pos in ['G', 'G/F']:
        guard_indices.append(1)
    else:
        guard_indices.append(0)

In [159]:
guard_indices

[1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0]

In [160]:
question_2_model.addConstr((gb.quicksum(guard_indices[i]*x[i] for i in range(150)) >= (0.3*(gb.quicksum(x[i] for i in range(150))))), "Guard Constraint")

In [161]:
other_indices = []
for pos in player_positions:
    if pos in ['F', 'C', 'F/C']:
        other_indices.append(1)
    else:
        other_indices.append(0)

In [162]:
other_indices

[0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1]

In [163]:
question_2_model.addConstr((gb.quicksum(other_indices[i]*x[i] for i in range(150)) >= (0.4*(gb.quicksum(x[i] for i in range(150))))), "Other Position Constraint")

In [164]:
#question_2_model.addConstr(gb.quicksum(average_per_row[i]*x[i] for i in range(150)) >= 2.05*(gb.quicksum(x[i] for i in range(150))), "Average Value Constraint")

# Fixing the Model

In [165]:
player_value_df

,Number,Position,Ball Handling,Shooting,Rebounding,Defense,Athletic Ability,Toughness,Mental Acuity
0,1,G/F,1,2,3,2,1,2,1
1,2,G/F,1,1,1,2,3,2,3
2,3,G/F,3,1,1,2,3,2,1
3,4,G/F,2,3,2,2,2,1,1
4,5,F/C,1,2,3,3,3,3,2
...,...,...,...,...,...,...,...,...,...
145,146,F/C,2,2,3,1,1,3,3
146,147,G/F,2,3,2,3,2,2,2
147,148,G/F,3,1,2,3,2,3,3
148,149,F/C,1,2,3,1,1,2,2
149,150,F/C,1,3,2,1,3,2,3

In [166]:
player_value_df.columns

Index(['Number', 'Position', 'Ball Handling', 'Shooting', 'Rebounding',
       'Defense', 'Athletic Ability', 'Toughness', 'Mental Acuity'],
      dtype='object')

In [167]:
Ball_Handling = player_value_df['Ball Handling'].values
Shooting = player_value_df['Shooting'].values
Rebounding = player_value_df['Rebounding'].values
Defense = player_value_df['Defense'].values
Athletic_Ability = player_value_df['Athletic Ability'].values
Toughness = player_value_df['Toughness'].values
Mental_Acuity = player_value_df['Mental Acuity'].values

In [168]:
Ball_Handling

array([1, 1, 3, 2, 1, 1, 3, 1, 1, 3, 3, 1, 3, 2, 2, 2, 1, 2, 1, 3, 1, 3,
       3, 3, 2, 3, 3, 1, 2, 2, 2, 1, 1, 3, 1, 1, 2, 2, 1, 3, 3, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 3, 1, 3, 3, 1, 3, 1, 2, 3, 1, 2, 2, 2, 3, 1, 3,
       3, 2, 3, 3, 1, 1, 2, 3, 1, 3, 1, 1, 2, 3, 1, 1, 1, 2, 3, 2, 3, 3,
       2, 3, 1, 1, 3, 2, 3, 2, 2, 3, 3, 1, 1, 3, 2, 2, 3, 1, 1, 1, 2, 3,
       3, 1, 3, 1, 1, 3, 1, 1, 1, 3, 2, 2, 1, 1, 1, 1, 2, 3, 1, 2, 3, 2,
       1, 3, 1, 3, 3, 3, 2, 2, 2, 1, 3, 3, 3, 2, 2, 3, 1, 1], dtype=int64)

In [169]:
for j in range(7):  # Iterate over columns
    question_2_model.addConstr(gb.quicksum(final_seven_columns.iloc[i, j] * x[i] for i in range(150)) >= 2.05 * player_number, "Average Value Constraint")

In [170]:
for i in range(19,24):
    for j in range(71,78):
        question_2_model.addConstr(x[i] <= 1 - (x[j]), "First Logical Constraint Expression")

In [171]:
for i in range(104,114):
    question_2_model.addConstr(x[i] <= x[44] + x[45] + x[46] + x[47] + x[48], "First Part of Second Logical Constraint Expression")
    question_2_model.addConstr(x[i] <= x[64] + x[65] + x[66] + x[67] + x[68], "Second Part of Second Logical Constraint Expression")

In [172]:
question_2_model.addConstr(gb.quicksum(x[i] for i in range (10)) >= 1, "Logical Constraint 1")
question_2_model.addConstr(gb.quicksum(x[i] for i in range(10, 20)) >= 1, "Logical Constraint 2")
question_2_model.addConstr(gb.quicksum(x[i] for i in range(20, 30)) >= 1, "Logical Constraint 3")
question_2_model.addConstr(gb.quicksum(x[i] for i in range(30, 40)) >= 1, "Logical Constraint 4")
question_2_model.addConstr(gb.quicksum(x[i] for i in range(40, 50)) >= 1, "Logical Constraint 5")
question_2_model.addConstr(gb.quicksum(x[i] for i in range(50, 60)) >= 1, "Logical Constraint 6")
question_2_model.addConstr(gb.quicksum(x[i] for i in range(60, 70)) >= 1, "Logical Constraint 7")
question_2_model.addConstr(gb.quicksum(x[i] for i in range(70, 80)) >= 1, "Logical Constraint 8")
question_2_model.addConstr(gb.quicksum(x[i] for i in range(80, 90)) >= 1, "Logical Constraint 9")
question_2_model.addConstr(gb.quicksum(x[i] for i in range(90, 100)) >= 1, "Logical Constraint 10")
question_2_model.addConstr(gb.quicksum(x[i] for i in range(100, 110)) >= 1, "Logical Constraint 11")
question_2_model.addConstr(gb.quicksum(x[i] for i in range(110, 120)) >= 1, "Logical Constraint 12")
question_2_model.addConstr(gb.quicksum(x[i] for i in range(120, 130)) >= 1, "Logical Constraint 13")
question_2_model.addConstr(gb.quicksum(x[i] for i in range(130, 140)) >= 1, "Logical Constraint 14")
question_2_model.addConstr(gb.quicksum(x[i] for i in range(140, 150)) >= 1, "Logical Constraint 15")

In [173]:
# Optimally solve the problem
question_2_model.optimize()

Gurobi Optimizer version 11.0.0 build v11.0.0rc2 (win64 - Windows 11+.0 (22631.2))

CPU model: Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz, instruction set [SSE2|AVX|AVX2]
Thread count: 6 physical cores, 12 logical processors, using up to 12 threads

Optimize a model with 80 rows, 150 columns and 1840 nonzeros
Model fingerprint: 0x5d2ebd98
Variable types: 0 continuous, 150 integer (150 binary)
Coefficient statistics:
  Matrix range     [3e-01, 3e+00]
  Objective range  [9e+00, 2e+01]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 4e+01]
Presolve time: 0.00s
Presolved: 80 rows, 150 columns, 1351 nonzeros
Variable types: 0 continuous, 150 integer (150 binary)

Root relaxation: objective 3.610000e+02, 24 iterations, 0.00 seconds (0.00 work units)

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

*    0     0               0     361.0000000  361.00000  0.00%     -    0s

Explored 1 nodes (24 simplex iterations) in 0.02 seconds (0.00 work units)
Thread count was 12 (of 12 available processors)

Solution count 1: 361

Optimal solution found (tolerance 1.00e-04)
Best objective 3.610000000000e+02, best bound 3.610000000000e+02, gap 0.0000%

In [174]:
# Value of the objective function
print("Value to the Team: ", question_2_model.objVal)

Value to the Team:  361.0

In [175]:
# Print the decision variables
print(question_2_model.printAttr('X'))

    Variable            X
-------------------------
  Players[6]            1
 Players[10]            1
 Players[25]            1
 Players[36]            1
 Players[46]            1
 Players[55]            1
 Players[66]            1
 Players[73]            1
 Players[75]            1
 Players[89]            1
 Players[94]            1
Players[103]            1
Players[109]            1
Players[110]            1
Players[127]            1
Players[131]            1
Players[132]            1
Players[133]            1
Players[140]            1
Players[143]            1
Players[147]            1
None

In [176]:
players_picked = question_2_model.getAttr('X', x)
players_picked

{0: -0.0,
 1: -0.0,
 2: -0.0,
 3: -0.0,
 4: -0.0,
 5: -0.0,
 6: 1.0,
 7: -0.0,
 8: -0.0,
 9: -0.0,
 10: 1.0,
 11: -0.0,
 12: -0.0,
 13: -0.0,
 14: -0.0,
 15: -0.0,
 16: -0.0,
 17: -0.0,
 18: -0.0,
 19: -0.0,
 20: -0.0,
 21: -0.0,
 22: -0.0,
 23: -0.0,
 24: -0.0,
 25: 1.0,
 26: -0.0,
 27: -0.0,
 28: -0.0,
 29: -0.0,
 30: -0.0,
 31: -0.0,
 32: -0.0,
 33: -0.0,
 34: -0.0,
 35: -0.0,
 36: 1.0,
 37: -0.0,
 38: -0.0,
 39: -0.0,
 40: -0.0,
 41: -0.0,
 42: -0.0,
 43: -0.0,
 44: -0.0,
 45: -0.0,
 46: 1.0,
 47: -0.0,
 48: -0.0,
 49: -0.0,
 50: -0.0,
 51: -0.0,
 52: -0.0,
 53: -0.0,
 54: -0.0,
 55: 1.0,
 56: -0.0,
 57: -0.0,
 58: -0.0,
 59: -0.0,
 60: -0.0,
 61: -0.0,
 62: -0.0,
 63: -0.0,
 64: -0.0,
 65: -0.0,
 66: 1.0,
 67: -0.0,
 68: -0.0,
 69: -0.0,
 70: -0.0,
 71: -0.0,
 72: -0.0,
 73: 1.0,
 74: -0.0,
 75: 1.0,
 76: -0.0,
 77: -0.0,
 78: -0.0,
 79: -0.0,
 80: -0.0,
 81: -0.0,
 82: -0.0,
 83: -0.0,
 84: -0.0,
 85: -0.0,
 86: -0.0,
 87: -0.0,
 88: -0.0,
 89: 1.0,
 90: -0.0,
 91: -0.0,
 92: -0.0,
 93: -0.0,
 94: 1.0,
 95: -0.0,
 96: -0.0,
 97: -0.0,
 98: -0.0,
 99: -0.0,
 100: -0.0,
 101: -0.0,
 102: -0.0,
 103: 1.0,
 104: -0.0,
 105: -0.0,
 106: -0.0,
 107: -0.0,
 108: -0.0,
 109: 1.0,
 110: 1.0,
 111: -0.0,
 112: -0.0,
 113: -0.0,
 114: -0.0,
 115: -0.0,
 116: -0.0,
 117: 0.0,
 118: -0.0,
 119: -0.0,
 120: -0.0,
 121: -0.0,
 122: -0.0,
 123: -0.0,
 124: -0.0,
 125: -0.0,
 126: -0.0,
 127: 1.0,
 128: -0.0,
 129: -0.0,
 130: -0.0,
 131: 1.0,
 132: 1.0,
 133: 1.0,
 134: -0.0,
 135: -0.0,
 136: -0.0,
 137: -0.0,
 138: -0.0,
 139: -0.0,
 140: 1.0,
 141: -0.0,
 142: -0.0,
 143: 1.0,
 144: -0.0,
 145: -0.0,
 146: -0.0,
 147: 1.0,
 148: -0.0,
 149: -0.0}

In [177]:
total_players_picked = int(sum(players_picked[i] for i in players_picked))
print("Total Players Picked:", total_players_picked)

Total Players Picked: 21

In [178]:
guard_indices

[1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0]

In [179]:
guard_invitations = gb.quicksum(guard_indices[i] * players_picked[i] for i in range (150))
print(guard_invitations)
percent_of_guard_selections = (guard_invitations / total_players_picked) * 100
print(percent_of_guard_selections)

11.0
52.38095238095237

In [180]:
other_invitations = gb.quicksum(other_indices[i] * players_picked[i] for i in range (150))
print(other_invitations)
percent_of_other_selections = (other_invitations / total_players_picked) * 100
print(percent_of_other_selections)

10.0
47.61904761904761